# 管理者ロール
ADMIN=
# スタッフロール
WNH_STAFF=
# 公認クラン担当スタッフロール
CLAN_STAFF=
# 上級モデレーターロール
SENIOR_MOD=
# モデレーターロール
MOD=
# 公認クランリクルーターロール
CLAN_RECRUITER=
# ルール同意前ロール
WAIT_AGREE_RULE=
# ルール同意後ロール
WAIT_AUTH=
# 認証済みロール
AUTHED=
# まったりロール
MATTARI=
# がつがつロール
GATSU=
# 分隊ロール
DIVISION=