# サーバーID
GUILD_ID=
# DB接続情報
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=


# Flask Port
FLASK_SERVICE_PORT=
# Flask Domain
FLASK_DOMAIN=
# Flask Secret Key
FLASK_SECRET_KEY=
# Flask Block List
BLOCKED_IP_PREFIXES='' # "127.0.0.,"
# Wargaming ApplicationID
WARGAMING_APPLICATION_ID=
# Discord Token
DISCORD_TOKEN=
# Discord Client ID
DISCORD_CLIENT_ID=
# Discord Client Secret
DISCORD_CLIENT_SECRET=
# 環境
ENV= # dev or prod