# ルールCH
RULE=
# 分隊募集CH
DIVISION=
# モデレーション記録CH
MOD_CASE=
# モデレーションログCH
MOD_LOG=
# 処罰に対する意見等CH
MOD_CONTACT_LOG=
# 報告受付CH
REPORT_LOG=
# メッセージログCH
MESSAGE_LOG=
# ユーザーログCH
USER_LOG=
# イベント1_スレッドID
EVENT1=
# イベント2_スレッドID
EVENT2=
# ご意見・ご要望CH
OPINION_LOG=
# その他お問い合わせ_カテゴリ・チャンネルID
GENERAL_INQUIRY_OPEN=
GENERAL_INQUIRY_CLOSE=
# その他お問い合わせ_チャンネルID
GENERAL_INQUIRY_LOG=
GENERAL_INQUIRY_SAVE=
# 通報_カテゴリID
REPORT_OPEN=
REPORT_CLOSE=
# 通報_チャンネルID
REPORT_LOG=
REPORT_SAVE=
# 公認クラン_カテゴリID
CLAN_OPEN=
CLAN_CLOSE=
# 公認クラン_チャンネルID
CLAN_LOG=
CLAN_SAVE=
# 公認クラン面談申請送信先
CLAN_MEET=
